body {
    background-color: #e8f4fc;
    margin: 0;
    padding: 0;
}
#div_logo img {
    width: 120px;  /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

#div_title {
    background-color: #b0e464;
    box-sizing: border-box;
    width: 100%;
    height: 30vh; /* 30% of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically center the content */
}

#Nutri_title { 
    color: #58a43c;
    font-size: 6vh; /* Responsive font size */
    font-family: 'Stinger Fit Trial', sans-serif;
}
